# Ignore thumbnails created by windows
*.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
.vs/
*.opensdf
*.opendb

# Ignore files build by xcode
*.nib
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
._.*
xcuserdata/
DerivedData/
*.icns
*.car

# Ignore vim swaps
*.swp

# Ignore lua binding generated codes
LuaCode.cpp
LuaBinding.cpp

# Ignore imgui ini file
imgui.ini

# Ignore vscode file
.vscode/

# include tolua tool
!tolua++.exe

# Ignore production files
Assets/Production/

