# Ignore thumbnails created by windows
*.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
.vs/
*.opensdf
*.opendb

# Ignore files build by xcode
*.nib
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
._.*
xcuserdata/
DerivedData/
Assets/*.icns
Assets/*.car
Projects/macOS/Dora.app

# Ignore vim swaps
*.swp

# Ignore lua binding generated codes
LuaCode.cpp
LuaBinding.cpp
TealCompiler.cpp

# Ignore imgui ini file
imgui.ini

# Ignore vscode file
.vscode/

# Ignore dev files
Assets/www/
Assets/dora-wa/
Tools/dora-dora/public/typescript.js

# Ignore Linux lib files
Projects/Linux/3rdParty/

# Ignore rust files
Source/Rust/lib/*
Source/Rust/target/*

# Ignore tolua++ files
Tools/tolua++/**/*.o
Tools/tolua++/**/*.a
Tools/tolua++/**/*.dll
Tools/tolua++/**/*.exp
Tools/tolua++/**/*.lib
Tools/tolua++/**/lua
Tools/tolua++/**/luac
Tools/tolua++/**/*.so
