name: iOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip iOS]')"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: iOS build
        run: |
          Tools/tolua++/build.sh
          cd Source/Rust
          rustup target add aarch64-apple-ios-sim
          cargo build --target aarch64-apple-ios-sim
          cp target/aarch64-apple-ios-sim/debug/libdora_runtime.a lib/iOS-Simulator/libdora_runtime.a
          xcodebuild ARCHS=arm64 ONLY_ACTIVE_ARCH=NO -downloadPlatform iOS -project ../../Projects/iOS/Dora.xcodeproj -configuration Debug -target Simulator -sdk iphonesimulator
