name: macOS

on:
  push:
    branches: [ main ]
    tags: 'v*.*.*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    if: "startsWith(github.ref, 'refs/tags/') || (!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip macOS]'))"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: macOS build
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: |
          Tools/tolua++/build.sh
          cd Source/Rust
          rustup target add x86_64-apple-darwin
          cargo build --target x86_64-apple-darwin
          cp target/x86_64-apple-darwin/debug/libdora_runtime.a lib/macOS/libdora_runtime.a
          xcodebuild ARCHS=x86_64 ONLY_ACTIVE_ARCH=NO -project ../../Projects/macOS/Dora.xcodeproj -target Dora -configuration Debug
      - name: Pack
        if: startsWith(github.ref, 'refs/tags/')
        env:
          NODE_OPTIONS: --max-old-space-size=8192
        run: |
          rm -rf Assets/www
          cd Tools/dora-dora/3rdParty/YarnEditor && unset NODE_OPTIONS && yarn && yarn build-linux && rm -rf ../../public/yarn-editor && mv dist ../../public/yarn-editor && cd ../../../..
          cd Tools/dora-dora && yarn && yarn build && cd ../.. && mv Tools/dora-dora/build Assets/www
          cd Assets/www && zip -vr ../../web-ide-files.zip . && cd ../..
          cd $GITHUB_WORKSPACE
          cp Tools/dora-wa/wa.mod Assets/dora-wa
          cp -r Tools/dora-wa/vendor Assets/dora-wa
          Tools/tolua++/build.sh
          Tools/build-scripts/build_macos.sh
          cd Projects/macOS/build/Release/dora.xcarchive/Products/Applications
          zip -vr Dora.zip Dora.app
          mv Dora.zip $GITHUB_WORKSPACE/dora-ssr-${{ github.ref_name }}-macos-universal.zip
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dora-ssr-${{ github.ref_name }}-macos-universal.zip
            web-ide-files.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
